---
import Layout from "../../layouts/Layout.astro";
import { newtClient } from "../../lib/newt";
import type { Article } from "../../lib/newt";
import '../../sass/style.scss';

export const getStaticPaths = async() => {
  const { items: articles } = await newtClient.getContents<Article>({
    appUid: 'blog',
    modelUid: 'article',
  })
  return articles.map((article) => ({
    params: {
      slug: article.slug,
    },
    props: { article },
  }))
}

const { article } = Astro.props

---

<Layout title="投稿詳細ページ" description="投稿詳細ページです。">
  <div class="inner inner-sm">
    <h2 class="ttl-01">{article.title}</h2>
    <img src={article.coverImage.src} loading="lazy"/>
    <article class="article" set:html={article.body} />
  </div>
</Layout>
