---
import Layout from '../../layouts/Layout.astro'
import Tags from '../../components/Tags.astro'
import '../../sass/main.scss'

---

<Layout title="Newt・Astroブログ" description="NewtとAstroを利用したブログです">
	<div class="inner">
		<Tags />
	</div>
</Layout>
