---
import Layout from '../layouts/Layout.astro'
import BlogPosts from '../components/BlogPosts.astro'
import '../sass/style.scss'

---

<Layout title="Newt・Astroブログ" description="NewtとAstroを利用したブログです">
	<div class="inner">
		<BlogPosts />
	</div>
</Layout>
