@use '../settings' as *;
@use '../mixins' as *;


/* ttl
********************************************** */
  .ttl-01 {
    position: relative;
    margin-bottom: clamp(16px, vw(40), 40px);
    font-size: pcrem(40);
    font-weight: 800;
    line-height: 1.42;
    &:has( + [class*="_txt"] ){
      margin-bottom: 40px;
      @include mq(sp) {
        margin-bottom: 24px;
      }
    }
  }
  .ttl-02 {
    position: relative;
    font-size: pcrem(32);
    font-weight: 800;
    line-height: 1.5;
    &._underline {
      margin-bottom: 32px;
      &::before {
        content: "";
        position: absolute;
        bottom: -16px;
        left: 50%;
        transform: translateX(-50%);
        width: 40px;
        height: 1px;
        border-top: 1px solid var(--clr-text);
      }
    }
  }
  .ttl-03 {
    position: relative;
    font-size: pcrem(32);
    font-weight: 800;
    line-height: 1.5;
  }
  .ttl-04 {
    position: relative;
    font-size: pcrem(24);
    font-weight: 800;
    line-height: 1.58;
    &._underline {
      margin-bottom: 32px;
      &::before {
        content: "";
        position: absolute;
        bottom: -16px;
        left: 50%;
        transform: translateX(-50%);
        width: 40px;
        height: 1px;
        border-top: 1px solid var(--clr-text);
      }
    }
  }

/* text
********************************************** */
._ctr {
  text-align: center;
}
